$xs1:1px;
$xs0:0px;
$xs:320px;
$xs420:420px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1600px;
$xxxl:1920px;
$md-custom:767px;
$lg-custom:890px;

/********************/

//generalcolors
$color-white: #ffffff;

//circlesborder
$color-purpcirc-border: #a283cd;
$color-bluecirc-border: #8dbddd;
$color-yellowcirc-border: #fbda8e;
$color-greencirc-border: #a5d6a7;
$color-headerlogo-border: #E30613;

//themecolors
$color-yellow: #F9B61D;
$color-blue: #0971B7;
$color-purple: #551EA4;
$color-green: #4CAE50;
$color-orange: #EB6724;

//backgrounds
$color-scrollbarBackground:#e6e6e6;
$color-light-purple: #a283cd; 

//textcolors
$color-navbarmenu: #838383;
$color-sidebarText: #ffffff;
$color-messageText: #959FBA;
$color-headerText: #E30613;
$color-messagelgText: #004280;
$color-breadcrumb: #ffffff; 
$color-contenttitle: #ffffff; 
$color-formtext: #676767;  
$color-contentboxtitle: #ffffff; 
$color-contentboxtext: #ffffff; 
$color-sliderboxspan: #ffffff; 
$color-paragraphList: #ffffff; 
$color-selectPlaceholder: #9E9E9E;
$color-selectPlaceholder-2: #676767;

//buttons
$color-filledbutton: #FFFFFF;
$color-paginationbutton: #E2E8F0;
$color-paginationnumbers:#475569;
$color-npbuttons: #CBD5E1;
$color-notification: #FF0401;


//bordercolors
$color-sliderboxborder: #FFFFFF;
$color-collapsibleboxborder: #FFFFFF;


//error
$color-error: #9b2729;

 