.body {
  background-color: $color-main;
  overflow-x: hidden;
}

@media (min-width: 1600px) {
  /* expanding BS4 max-width */
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1740px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: "Nunito", sans-serif;
}
