@charset "UTF-8";
/*display*/
/*display*/
/*Flexbox*/
/*/Flexbox*/
@import "abstracts/fonts/fonts.css";
.body {
  background-color: #11001c;
  overflow-x: hidden;
}

@media (min-width: 1600px) {
  /* expanding BS4 max-width */
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1740px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.description-text {
  color: #11001c;
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  font-weight: 400;
}

/* adding col-xxl */
.col-xxl,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 100em) {
  .columnleft-gap {
    padding-right: 120px;
  }
}

@media (max-width: 100em) {
  .columnright-gap {
    padding-left: 120px;
  }
}

@media (min-width: 1600px) {
  /* grid columns xxl */
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xxl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-11 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-12 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  /* order xxl */
  .order-xxl-0 {
    order: 0;
  }
  .order-xxl-1 {
    order: 1;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-5 {
    order: 5;
  }
  .order-xxl-6 {
    order: 6;
  }
  .order-xxl-7 {
    order: 7;
  }
  .order-xxl-8 {
    order: 8;
  }
  .order-xxl-9 {
    order: 9;
  }
  .order-xxl-10 {
    order: 10;
  }
  .order-xxl-11 {
    order: 11;
  }
  .order-xxl-12 {
    order: 12;
  }
  /* text-align xxl */
  .text-xxl-center {
    text-align: center !important;
  }
  .text-xxl-left {
    text-align: left !important;
  }
  .text-xxl-right {
    text-align: right !important;
  }
  /* float xxl */
  .float-xxl-left {
    float: left !important;
  }
  .float-xxl-right {
    float: right !important;
  }
  .float-xxl-none {
    float: none !important;
  }
  /* display xxl */
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: inline-flex !important;
  }
  /* offsets xxl */
  .offset-xxl-1 {
    margin-left: 8.333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.666667%;
  }
  /* spacing xxl */
  .m-xxl-0 {
    margin: 0 !important;
  }
  .mt-xxl-0,
  .my-xxl-0 {
    margin-top: 0 !important;
  }
  .mr-xxl-0,
  .mx-xxl-0 {
    margin-right: 0 !important;
  }
  .mb-xxl-0,
  .my-xxl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xxl-0,
  .mx-xxl-0 {
    margin-left: 0 !important;
  }
  .m-xxl-1 {
    margin: 0.25rem !important;
  }
  .mt-xxl-1,
  .my-xxl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xxl-1,
  .mx-xxl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xxl-1,
  .my-xxl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xxl-1,
  .mx-xxl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xxl-2 {
    margin: 0.5rem !important;
  }
  .mt-xxl-2,
  .my-xxl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xxl-2,
  .mx-xxl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xxl-2,
  .my-xxl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xxl-2,
  .mx-xxl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xxl-3 {
    margin: 1rem !important;
  }
  .mt-xxl-3,
  .my-xxl-3 {
    margin-top: 1rem !important;
  }
  .mr-xxl-3,
  .mx-xxl-3 {
    margin-right: 1rem !important;
  }
  .mb-xxl-3,
  .my-xxl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xxl-3,
  .mx-xxl-3 {
    margin-left: 1rem !important;
  }
  .m-xxl-4 {
    margin: 1.5rem !important;
  }
  .mt-xxl-4,
  .my-xxl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xxl-4,
  .mx-xxl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xxl-4,
  .my-xxl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xxl-4,
  .mx-xxl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xxl-5 {
    margin: 3rem !important;
  }
  .mt-xxl-5,
  .my-xxl-5 {
    margin-top: 3rem !important;
  }
  .mr-xxl-5,
  .mx-xxl-5 {
    margin-right: 3rem !important;
  }
  .mb-xxl-5,
  .my-xxl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xxl-5,
  .mx-xxl-5 {
    margin-left: 3rem !important;
  }
  .p-xxl-0 {
    padding: 0 !important;
  }
  .pt-xxl-0,
  .py-xxl-0 {
    padding-top: 0 !important;
  }
  .pr-xxl-0,
  .px-xxl-0 {
    padding-right: 0 !important;
  }
  .pb-xxl-0,
  .py-xxl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xxl-0,
  .px-xxl-0 {
    padding-left: 0 !important;
  }
  .p-xxl-1 {
    padding: 0.25rem !important;
  }
  .pt-xxl-1,
  .py-xxl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xxl-1,
  .px-xxl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xxl-1,
  .py-xxl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xxl-1,
  .px-xxl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xxl-2 {
    padding: 0.5rem !important;
  }
  .pt-xxl-2,
  .py-xxl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xxl-2,
  .px-xxl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xxl-2,
  .py-xxl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xxl-2,
  .px-xxl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xxl-3 {
    padding: 1rem !important;
  }
  .pt-xxl-3,
  .py-xxl-3 {
    padding-top: 1rem !important;
  }
  .pr-xxl-3,
  .px-xxl-3 {
    padding-right: 1rem !important;
  }
  .pb-xxl-3,
  .py-xxl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xxl-3,
  .px-xxl-3 {
    padding-left: 1rem !important;
  }
  .p-xxl-4 {
    padding: 1.5rem !important;
  }
  .pt-xxl-4,
  .py-xxl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xxl-4,
  .px-xxl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xxl-4,
  .py-xxl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xxl-4,
  .px-xxl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xxl-5 {
    padding: 3rem !important;
  }
  .pt-xxl-5,
  .py-xxl-5 {
    padding-top: 3rem !important;
  }
  .pr-xxl-5,
  .px-xxl-5 {
    padding-right: 3rem !important;
  }
  .pb-xxl-5,
  .py-xxl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xxl-5,
  .px-xxl-5 {
    padding-left: 3rem !important;
  }
  .m-xxl-auto {
    margin: auto !important;
  }
  .mt-xxl-auto,
  .my-xxl-auto {
    margin-top: auto !important;
  }
  .mr-xxl-auto,
  .mx-xxl-auto {
    margin-right: auto !important;
  }
  .mb-xxl-auto,
  .my-xxl-auto {
    margin-bottom: auto !important;
  }
  .ml-xxl-auto,
  .mx-xxl-auto {
    margin-left: auto !important;
  }
}
.header {
  width: 100%;
  background-color: #11001c;
  position: sticky;
  top: 0;
  padding: 15px 50px;
  display: flex;
  z-index: 99;
}
.header-header {
  padding: 35px;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
}
.content .title {
  color: white;
  padding-top: 120px;
  padding-bottom: 25px;
  font-size: 20px;
}

.responsive-menu .hamburger-menu {
  display: none;
}
.responsive-menu .hamburger-menu span {
  background: #fff;
  border-radius: 10px;
  height: 2.5px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.responsive-menu .hamburger-menu span:nth-of-type(1) {
  width: 50%;
}
.responsive-menu .hamburger-menu span:nth-of-type(2) {
  width: 100%;
}
.responsive-menu .hamburger-menu span:nth-of-type(3) {
  width: 75%;
}
.responsive-menu .hamburger-menu-checkbox {
  display: none;
}
@media (max-width: 62em) {
  .responsive-menu .hamburger-menu {
    display: flex;
    color: #ffffed;
    flex-direction: column;
    width: 25px;
    cursor: pointer;
  }
}
.responsive-menu .hamburger-menu-checkbox {
  display: none;
}
.responsive-menu .hamburger-menu-checkbox:checked + .hamburger-menu span:nth-of-type(1) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(3px, -4px) rotate(45deg);
}
.responsive-menu .hamburger-menu-checkbox:checked + .hamburger-menu span:nth-of-type(2) {
  transform-origin: top;
  transform: translate(0px, -5px) rotate(-45deg);
}
.responsive-menu .hamburger-menu-checkbox:checked + .hamburger-menu span:nth-of-type(3) {
  transform-origin: bottom;
  width: 60%;
  transform: translate(11px, -8px) rotate(45deg);
}

/* Hamburger menü stilini buraya ekleyebilirsiniz */
.header-logo {
  font-family: "MuseoModerno", sans-serif;
  color: white;
  font-size: 30px;
}
.header-logo span:nth-child(1) {
  color: white;
}
.header-logo span:nth-child(2) {
  color: #98ff9c;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-items {
  width: 55%;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.25px solid #ffffed;
  height: 40px;
  border-radius: 10px;
}
.navbar-items:hover {
  border: 0.25px solid #98ff9c;
  transition: all 2s;
  -webkit-transition: all 2s;
}
.navbar-items:not(:hover) {
  border: 0.25px solid #ffffed;
  transition: border 2s ease;
}
.navbar-items li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 25px;
  cursor: pointer;
}
.navbar-items li a {
  color: #f9f8e9;
  font-weight: 100;
  font-size: 15px;
  text-decoration: none;
}
.navbar-items li a:hover {
  color: #98ff9c;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-items li:hover a {
  color: #98ff9c;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-items li:hover .navbar-icon {
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-icon {
  max-width: 18px;
  margin-right: 5px;
  opacity: 0;
}

@media (max-width: 62em) {
  .navbar-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #11001c;
    z-index: 9999;
  }
  .navbar-items.show {
    display: flex;
  }
  .show input[type=checkbox] {
    display: none;
  }
  .show input[type=checkbox]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
  }
  .show input[type=checkbox]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  .show input[type=checkbox]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
  }
}
.about-box-skills {
  margin: 20px 0px;
  border-radius: 10px;
  background-color: #ffffed;
  width: 100%;
  height: 230px;
  padding: 20px;
  overflow: scroll;
}
.about-box-skills ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.about-box-skills ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
}
.about-box-skills ul li img {
  width: 30px;
  padding-right: 10px;
}
.about-box-skills ul li span {
  color: #11001c;
  font-size: 14px;
}
.about-box-skills span {
  color: #11001c;
  font-size: 14px;
}
.about-box-career {
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #98ff9c;
  background-color: #11001c;
  width: 100%;
  height: 480px;
}
.about-box-career h1 {
  color: #ffffed;
  font-size: 70px;
}
.about-box-career span {
  font-size: 14px;
  color: #ffffed;
}

.education-box {
  padding: 20px;
  width: 100%;
  height: 450px;
  overflow: scroll;
  background-color: #ffffed;
  border-radius: 10px;
}
.education-box-item {
  padding: 20px;
}
.education-box-item-header, .education-box-item-body {
  display: flex;
  align-items: center;
}
.education-box-item-header h6, .education-box-item-body h6 {
  margin-bottom: 0px;
  font-size: 16px;
}
.education-box-item-header img, .education-box-item-body img {
  margin-right: 10px;
  width: 25px;
}
.education-box-item-body {
  padding-left: 8px;
  padding-top: 10px;
}
.education-box-item-body img {
  margin-right: 10px;
  width: 8px;
}
.education-box-item-body span {
  font-size: 14px;
}

.work-box {
  padding: 20px;
  border: 1px solid #98ff9c;
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffed;
}
.work-box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-box-header img {
  width: 40px;
  margin-bottom: 20px;
}
.work-box-header h3 {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98ff9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11001c;
}

.background-item, .background-item-aboutme {
  position: absolute;
  right: 0;
  top: 0px;
  width: 55%;
  z-index: -99;
}
.background-item-aboutme {
  top: calc(100vh + 400px);
  width: 450px;
  rotate: 185deg;
}

.homepage-profile-picture {
  position: absolute;
  right: 70px;
  top: 185px;
  z-index: -9;
  max-width: 40%;
}

.homepage-section-text {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  padding-top: 90px;
}
.homepage-section-text h1 {
  font-size: 120px;
  color: #f9f8e9;
  line-height: 1;
  padding-bottom: 30px;
}
.homepage-section-text span {
  max-width: 500px;
  color: white;
  font-weight: 50;
  font-size: 15px;
}
@media (max-width: 75em) {
  .homepage-section-text span {
    width: 100%;
  }
}

.homepage-section {
  padding-left: 55px;
  min-height: 100vh;
  max-width: 45%;
}

.homepage-section-socialmedias {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  max-width: 250px;
}
.homepage-section-socialmedias a img {
  max-width: 25px;
}/*# sourceMappingURL=main.css.map */