::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-main-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-main-auxiliary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-main;
}
